<div>
    <div>
        <button (click)='back()'>back</button>
    </div>
    <div class="id">id: {{employee?employee.id:''}}</div>
    <div class="firstname">first name: {{employee?employee.firstname:''}}</div>
    <div class="lastname">last name: {{employee?employee.lastname:''}}</div>
    <div class="phonenumber">phone number: {{employee?employee.phonenumber:''}}</div>
    <div class="department">department: {{employee && employee.department ? employee.department.name :''}}</div>
    <div>
        <button (click)="delete()">Delete</button>
    </div>
</div>
